@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Postać łańcucha zapytania: 
        @{ 
            System.Collections.Specialized.NameValueCollection qs =
                Request.Unvalidated.QueryString;
        }
        @foreach (string paramKey in qs)
        {
            <div>
                @:Klucz: @paramKey, wartość: @qs[paramKey]
            </div>
        }
    </div>
    <div>
        Rodzja przeglądarki: '@Request.UserAgent'
    </div>
</body>
</html>
