@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Postać łańcucha zapytania: '@Request.QueryString'
    </div>
    <div>
        Rodzja przeglądarki: '@Request.UserAgent'
    </div>
</body>
</html>
