@{
    ViewBag.Title = "_MiniKoszyk";
    decimal wartoscKoszyka = (decimal)ViewBag.WartoscKoszyka;
} 
<div style="margin-right: 25px;">
<a href="@Url.Action("Index","Koszyk")" style="color: black;">
    <span class="glyphicon glyphicon-shopping-cart" style="font-size:
18px;"></span>
    @if (wartoscKoszyka <= 0)
    {
        @:Koszyk pusty
}
    else
    {
        @wartoscKoszyka @:PLN
}
</a>
</div>