@{
    ViewBag.Title = "Panel administracyjny";
} 
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="container">
                <a class="kafelek" href="@Url.Action("Index","Towar")">
                    <center>
                        <div class="kafelekLink">
                            <span class="kafeletekText glyphicon glyphicon glyphicon-th-list"></span><br />
                            Aktualności
                        </div>
                    </center>
                </a>
            </div>
        </div>
    </div>
</div>