@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!--3 glowne gridy-->
    <div class="row">
        <div class="col m4">
            <h2>Logo</h2>
            <p>logo naszego sklepu</p>
        </div>
        <div class="col m4">
            <h2>XXX XXX XXX</h2>
            <p>Masz pytania? Zadzwoń</p>
        </div>
        <div class="col m4"><h2>Koszyk</h2></div>
    </div>
    <!--bok, kategorie-->
    <div class="row">
        <div class="col m2">
            <ul class="collection with-header">
                <li class="collection-header indigo darken-3"><h5><span id="produktyNapis">Produkty</span></li>
                <li class="collection-item"><div><i class="material-icons tiny">trending_flat</i><a href="#" class="secondary-content">Kategoria</a></div></li>
                <li class="collection-item"><div><i class="material-icons tiny">trending_flat</i><a href="#" class="secondary-content">Kategoria</a></div></li>
                <li class="collection-item"><div><i class="material-icons tiny">trending_flat</i><a href="#" class="secondary-content">Kategoria</a></div></li>
            </ul>
        </div>
    </div>
