@model Gadzety.Models.ViewModels.TowarViewModel

<div class="col m3 l2">
    <!-- kategorie-->
    @Html.Action("_Kategorie", "Home")
    <!--boczki-->
    <div id="blok">Miejsce na banner FB</div>
    <div id="blok">
        <h4>Newsletter</h4>
        <p>Zyskujesz super możliwości zapisując się do naszego newslettera</p>
    </div>
    <div id="blok">Nowości</div>
    <div id="blok">Miejsce na banner PayU</div>
</div>
<h3>Szczegoly</h3>

