
@{
    ViewBag.Title = "Panel Administracyjny";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="container">
                <a class="kafelek" href="@Url.Action("Index","Aktualnosc")">
                    <center>
                        <div class="kafelekLink">
                            <span class="kafeletekText glyphicon glyphicon
glyphicon-th-list"></span><br />
                            Aktualności
                        </div>
                    </center>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="container">
                <a class="kafelek" href="@Url.Action("Index","Towar")">
                    <center>
                        <div class="kafelekLink">
                            <span class="kafeletekText glyphicon glyphicon
glyphicon-barcode"></span><br />
                            Towary
                        </div>
                    </center>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="container">
                <a class="kafelek" href="@Url.Action("Index","Zamowienie")">
                    <center>
                        <div class="kafelekLink">
                            <span class="kafeletekText glyphicon glyphicon
glyphicon-shopping-cart"></span><br />
                            Zamówienia
                        </div>
                    </center>
                </a>
            </div>
        </div>
    </div>
</div>

