
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#logowanie{
    padding-left:70px;
}
#szukajka{
    padding-right:70px;
}

#produktyNapis{
    color:white;
}
.secondary-content{
    color:black;
}
.collection{
    border-radius:5px;
}
#blok{
    border: 1px solid #e0e0e0;
    border-radius:5px;
    margin-top:10px;
}

.slider .indicators .indicator-item.active{
    background-color:#283593;
}

.dropdown-content li > span{
    color:#283593;
}
.obramowanieTowaru{
    border: 1px solid #e0e0e0;
}

tr:first-child{
    background-color:#efefef;
}
tr:hover td{
    background-color:#efefef;
}
.btn {
    margin:2px;
}

.form-horizontal .form-group{
    margin-left:0px;
}
.caret{
    display:none;
}
.page-footer{
    left:0;
    right:0;
    bottom:0;
}

/*zmniejszenie navbara*/
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 36px;
    line-height: 36px;
  }
  .navbar-fixed {
    height: 36px;
  }
}

.kafelek
{
    min-height: 150px;
    text-align: center;
    background: linear-gradient(rgb(243, 238, 238) 0px, rgb(195, 195, 195)
    100%);
    display: block;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}
.kafelek:hover, .kafelek:focus
{
    background: linear-gradient(rgb(243, 238, 238) 0px, rgb(195, 195, 195) 100%) !important;
}
.kafeletekText
{
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 35px;
}
.kafelekLink:hover, .kafelekLink:focus, .kafelekLink:active
{
    color: #064382 !important;
}